 /* Informacion Lista */

 .listinfo {
  display: flex;
  width: 100%;

  .listcont {
    flex: 6;
  }
}

/* Table Data */
.Tabledata_Sedes {
  .top {
    -webkit-box-shadow: 2px 4px 20px 1px rgba(12, 13, 39, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(12, 6, 48, 0.47);
    padding: 25px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    margin: 25px;
    flex: 1;
    h1{
      color: #717171;
      font-weight: bold;
      font-size: 24px;
      margin: 0;
     }

  }

  .Tabledata {
    -webkit-box-shadow: 2px 4px 20px 1px rgba(12, 13, 39, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(12, 6, 48, 0.47);
    padding: 25px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    margin: 25px;
    flex: 1;
    height: 750px;
    //padding: 20px;
    //text-align: center;

    .dataTitle {
      width: 100%;
      font-size: 28px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .CrearButton {
        .crear_bienes {  
         font-weight: bold;
          min-width: 130px;
          height: 40px;
          color: #fff;
          padding: 5px 10px;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          font-size: 15px;
          outline: none;
          border-radius: 5px;
          text-align: center;
          //border: none;
          background: #160f51;
          box-shadow: 0 5px #160a3d;
          &:hover{
           background: #ffffff;
           color: #160a3d;
           border-color: #160f51;
           font-weight: bold;
           font-size: 18px;
          }
        }
      }

      .newinvt {
        font-size: 19px;
        text-align: center;

        .line {
          color: rgba(201, 201, 201, 0.47);
          width: 10%;
          margin: -20px;
        }
      }

      .link {
        text-decoration: none;
        color: rgb(34, 26, 79);
        font-size: 16px;
        font-weight: 400;
        border: 1px solid rgb(26, 0, 128);
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
      }

      /*  .modalNew{
        cursor: pointer;
      }
     */
    }

    .datagrid {
      font-size: 18px;
      text-align: center;
      height: 90%;
      //align-items: center;
      //color:red;
    }

    .cellImg {
      display: flex;
      align-items: center;

    }

    .cellStatus {
      padding: 5px;
      border-radius: 5px;

      &.Disponible {
        background-color: rgba(0, 128, 0, 0.05);
        color: green;
      }

      &.No_disponible {
        background-color: rgba(255, 217, 0, 0.05);
        color: rgb(218, 32, 32);
      }
    }

    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;

      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;

        &:hover {
          background: rgb(186, 186, 186);

        }
      }

      .EditButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(11, 71, 9);
        border: 1px dotted rgba(9, 62, 11, 0.596);
        cursor: pointer;

        &:hover {
          background: rgb(186, 186, 186);
        }
      }

      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;

        &:hover {
          background: rgb(186, 186, 186);
        }
      }
    }
  }
}