.fondo {
  background: rgb(39, 39, 39);
  video {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 0.5;
  }

  .inicio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;


    .loginf {
      border-radius: 10px;
      background: rgb(255, 255, 255);
    }
    p{
      color:red;
      text-align: center;
      font-size: 24px;
      position: relative;
      right: -0.8em;
      
    }
    .imagen {
      display: flex;
      justify-content: center;
      position: relative;
      right: -0.8em;


      img {
        width: 22%;
        height: 22%;
      }
    }

    h1 {
      margin-top: 12px;
      color: rgb(131, 131, 131);
      text-align: center;
      //font-size: 18px;
      font-size: 1.6rem;
      padding-top: 2px;
      text-transform: capitalize;
      position: relative;
      right: -0.4em;
    }

    h2 {
      color: black;
      text-align: center;
      margin: 12px;
      font-size: 1.8rem;
      text-transform: capitalize;
      padding-top: 18px;
      position: relative;
      right: 0em;
    }

    h3 {
      color: rgb(111, 111, 111);
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }

    .iniciar {
      color: rgb(255, 255, 255);
      background: rgb(36, 10, 48);
      font-size: 16px;
      border-radius: 10px;

      &:hover {
        background: rgb(129, 16, 181);
      }
    }

    h4 {
      color: rgb(111, 111, 111);
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding-top: 10px;
    }
  }
}