.contend_ex {
  text-align: center;
  align-items: center;
  p{
    color: red;
    font-weight: bold;
  }
  input {
    width: 75%;
    padding: 10px;
    color: rgb(103, 103, 103);
    font-size: 18px;
    border-color: rgb(206, 207, 207);
    
  }

  .buttonE {
    width: 15%;
    font-weight: bold;
    min-width: 130px;
    height: 42px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    text-align: center;
    //border: none;
    background: #411763;
    box-shadow: 0 5px #280c47;

    &:hover {
      background: #ffffff;
      color: #331551;
      border-color: #280e4f;
      font-weight: bold;
      font-size: 18px;
    }
  }
}