 /* Informacion Lista */

 .listinfo {
   display: flex;
   width: 100%;

   .listcont {
     flex: 6;
   }
 }

 /* Table Data */
 .Tabledata_pecosa_reportes_detalles {
   .top {
     -webkit-box-shadow: 2px 4px 20px 1px rgba(12, 13, 39, 0.47);
     box-shadow: 2px 4px 10px 1px rgba(12, 6, 48, 0.47);
     padding: 25px;
     border-radius: 15px;
     background: rgb(255, 255, 255);
     margin: 25px;
     flex: 1;
     .crearButtom_B {
      padding: 10px;
      width: 80%;

      .button2 {
        left: 50%;
        width: 50%;
        font-weight: bold;
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        font-size: 15px;
        outline: none;
        border-radius: 5px;
        text-align: center;
        //border: none;
        background: #073b2e;
        box-shadow: 0 5px #08352a;

        &:hover {
          background: #ffffff;
          color: #06271e;
          border-color: #062a21;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }


   }

   .cont_detalls {
     -webkit-box-shadow: 2px 4px 30px 1px rgba(0, 0, 0, 0.47);
     box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
     padding: 25px;
     border-radius: 15px;
     background: white;
     margin: 25px;
     display: flex;


       .form_cont {
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
         justify-content: space-around;
         flex: 2;

         .formInput {
           width: 15%;
           strong {
             display: flex;
             align-items: center;
             gap: 10px;
             font-size: 20px;
             color: rgb(123, 122, 122);
           }

           input {
             width: 100%;
             border: none;
             padding: 10px;
             color: rgb(85, 72, 72);
             font-size: 18px;
             border-color: rgb(206, 207, 207);
             //border: none;
             //border-bottom: 0.1px solid gray;
           }


         

       }
     }
   }

   .Tabledata {
     -webkit-box-shadow: 2px 4px 20px 1px rgba(12, 13, 39, 0.47);
     box-shadow: 2px 4px 10px 1px rgba(12, 6, 48, 0.47);
     padding: 25px;
     border-radius: 15px;
     background: rgb(255, 255, 255);
     margin: 25px;
     flex: 1;
     height: 750px;
     //padding: 20px;
     //text-align: center;

     .dataTitle {
       width: 100%;
       font-size: 28px;
       color: gray;
       margin-bottom: 10px;
       display: flex;
       align-items: center;
       justify-content: space-between;

       

       .newinvt {
         font-size: 19px;
         text-align: center;

         .line {
           color: rgba(201, 201, 201, 0.47);
           width: 10%;
           margin: -20px;
         }
       }

       .link {
         text-decoration: none;
         color: rgb(34, 26, 79);
         font-size: 16px;
         font-weight: 400;
         border: 1px solid rgb(26, 0, 128);
         padding: 8px;
         border-radius: 8px;
         cursor: pointer;
       }

       /*  .modalNew{
          cursor: pointer;
        }
       */
     }

     .datagrid {
       font-size: 18px;
       text-align: center;
       height: 90%;
       //align-items: center;
       //color:red;
     }

     .cellImg {
       display: flex;
       align-items: center;

     }

     .cellStatus {
       padding: 5px;
       border-radius: 5px;

       &.Disponible {
         background-color: rgba(0, 128, 0, 0.05);
         color: green;
       }

       &.No_disponible {
         background-color: rgba(255, 217, 0, 0.05);
         color: rgb(218, 32, 32);
       }
     }

     .cellAction {
       display: flex;
       align-items: center;
       gap: 15px;

       .viewButton {
         padding: 2px 5px;
         border-radius: 5px;
         color: darkblue;
         border: 1px dotted rgba(0, 0, 139, 0.596);
         cursor: pointer;

         &:hover {
           background: rgb(186, 186, 186);

         }
       }

     }
   }
 }