.navbar_cont {
    width: 100%;
    height: 100%;
    padding: 0rem;
    overflow: auto;

    .bottom_n {
        margin-top: 1rem;
        gap: 2rem;
        //background: red;
        align-items: flex-start;
    }
}