.Container {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .listtitle {
    width: 100%;
    animation: typing 5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;

  }
  .listtitle_1 {
    width: 18ch;
    animation: typing 5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    100% {
      border-color: transparent
    }
  }

  