.cont_crear_bien {
  .top {
    -webkit-box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 25px;
    border-radius: 15px;
    margin: 25px;
    display: flex;

    h1 {
      color: #717171;
      font-weight: bold;
      font-size: 25px;
      margin: 0;
    }
  }

  .cont_form_bienes {
    -webkit-box-shadow: 2px 4px 30px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 45px;
    border-radius: 15px;
    background: white;
    margin: 25px;
    display: flex;

    a h1 {
      color: rgb(90, 89, 89);
      font-size: 24px;
    }

    .right {
      flex: 1;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .gen_fromImput {
          width: 80%;

          .prin_formImput {
            .formInput {
              label {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 20px;
                color: rgb(123, 122, 122);

                .icon {
                  cursor: pointer;
                }
              }

              input {
                width: 100%;
                padding: 10px;
                color: rgb(103, 103, 103);
                font-size: 18px;
                border-color: rgb(206, 207, 207);
                //border: none;
                //border-bottom: 0.1px solid gray;
              }

              .selecunidad {
                width: 100%;
                padding: -14px;
                font-size: 16px;
                color: #b4b4b4;
              }
            }

            .crearButtom_input_a {
              padding: 10px;
              width: 20%;

              .buttonA {
                right: 9px;
                width: 50%;
                font-weight: bold;
                min-width: 130px;
                height: 40px;
                color: #fff;
                padding: 5px 10px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                font-size: 15px;
                outline: none;
                border-radius: 5px;
                text-align: center;
                //border: none;
                background: #176063;
                box-shadow: 0 5px #0c4447;

                &:hover {
                  background: #ffffff;
                  color: #154e51;
                  border-color: #0e4c4f;
                  font-weight: bold;
                  font-size: 18px;
                }
              }

            }
          }

          .crearButtom_input_b {
            padding: 10px;
            width: 20%;

            .buttonR {
              right: 9px;
              width: 50%;
              font-weight: bold;
              min-width: 130px;
              height: 40px;
              color: #fff;
              padding: 5px 10px;
              font-weight: bold;
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
              font-size: 15px;
              outline: none;
              border-radius: 5px;
              text-align: center;
              //border: none;
              background: #741348;
              box-shadow: 0 5px #6b0d41;

              &:hover {
                background: #ffffff;
                color: #671642;
                border-color: #5c1a3e;
                font-weight: bold;
                font-size: 18px;
              }
            }

          }

        }

        .crearButtom_B {
          padding: 10px;
          width: 80%;

          .button1 {
            right: 9px;
            width: 50%;
            font-weight: bold;
            min-width: 130px;
            height: 40px;
            color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            font-size: 15px;
            outline: none;
            border-radius: 5px;
            text-align: center;
            //border: none;
            background: #1d165e;
            box-shadow: 0 5px #160a3d;

            &:hover {
              background: #ffffff;
              color: #271a53;
              border-color: #160f51;
              font-weight: bold;
              font-size: 18px;
            }
          }

          .button2 {
            left: 14px;
            width: 50%;
            font-weight: bold;
            min-width: 130px;
            height: 40px;
            color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            font-size: 15px;
            outline: none;
            border-radius: 5px;
            text-align: center;
            //border: none;
            background: #601e1e;
            box-shadow: 0 5px #3d0a0a;

            &:hover {
              background: #ffffff;
              color: #5a1919;
              border-color: #510f0f;
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}